vendor/
phpunit.xml
composer.lock

# Build Artifacts
phpunit.xml
phpunit.phing.xml
cache.properties
build/
!build/resources/*.xslt

bin

.idea/workspace.xml
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
